# Data Science Tools and Ecosystem

## Author: MF

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learn about popular languages for data science
- Learn about commonly used libraries
- Learn abouit Data Science Tools

Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Plotly

| Data Science Tools | 
| -------------| 
| Jupyter Notebook |
| Apache Spark |
| Tableau |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335